*target*
*target*
*.jar
*.war
*.ear
*.class

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

## Project specific stuff ###
AIDA-YAGO2-dataset.tsv
AIDACorpus.xml
log/
txt/
.DS_Store
